@media screen and (max-width: 842px) {
  .slider-contents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 30px;
    font-size: xx-small;
  }

  .slider-image {
    width: 40px;
    height: 40px;
    align-self: center;
    margin: auto;
    margin-left: auto;
  }

  .slider-description {
    text-align: center;
  }
}

@media screen and (min-width: 842px) {
  .slider-contents {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-right: 40px;
  }

  .slider-image {
    width: 100px;
    height: 100px;
    align-self: center;
    margin-left: 50px;
  }

  .slider-description {
    text-align: center;
    width: 16vw;
  }
}
